@use "../../sass/resources" as *;

/*--------------------------------------------------------------
# Post Card design
--------------------------------------------------------------*/
.acf-event-cards {
  .card-listing {
    padding: 0;

    @media(min-width: 576px) {
      padding: 0 var(--container-padding);
    }
  }
  .event-grid {
    --card-min: 350px;
  }
}

.una_events.card-item,
.type-una_events.card-item {
  background-color: var(--white);

  h2.h4 {
    font-size: 1.8rem;
    letter-spacing: normal;
    margin-bottom: 1rem;
  }

  .card-meta {
    margin: .5rem 1rem;
  }

  a {
    text-decoration: none;
  }
}

.blog .type-una_events.card-item {
  .card-content {
    padding: 0 1rem;
  }
}

.acf-section-block.alignfull .una_events.card-item p,
.acf-section-block.alignfull .type-una_events.card-item p{
  max-width: calc(100% - 2rem);
}

.una_events {

  .event-meta {
    margin-top: 3rem;
  }
  .h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1rem;
     a {
       color: var(--black);
     }
  }

  .fas {
    color: #999;
  }
}

.event-item {
  .cover-image {
    position: relative;
    img {
      max-height: 30rem;
    }

    .event-date {
      position: absolute;
      top: 2rem;
      left: 2rem;
      padding: .75rem 1rem;
      color: var(--dark-navy);
      background-color: var(--white);
      border-radius: 2rem;
      font-weight: 600;
    }
  }

  .card-header {
    .event-meta {
      margin-top: 0;
    }
  }
  
  .card-title {
    margin-bottom: 1rem;
    a {
      text-decoration: none;
    }
  }
}

@media (max-width: $media-small) {
  .acf-event-cards.alignwide,
  .acf-offers-cards.alignwide,
  .acf-image-grid-block.alignwide,
  .acf-plan-your-stay.alignwide {
    width: 100%;
  }
}