/*--------------------------------------------------------------
# CSS Variables
--------------------------------------------------------------*/
//Change your overall colors and fonts and stuff here
//Don't forget to also check out theme.config.json and functions.php for a few more overall settings

@forward "resources";
@use "resources" as *; //sass vars and mixins and functions

//do not create sass variables in here. create them in resources.scss

/*--------------------------------------------------------------
# CSS Variables. Change these to match your theme
--------------------------------------------------------------*/
:root {
  //Fonts. change to the fonts you want. Defaults to OS Fonts. Load google fonts via theme.config.json
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Cabin, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-alt: -apple-system, BlinkMacSystemFont, "Segoe UI", Cabin, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; //for headings etc..
  --line-height: 1.5;
  --font-pre: 'Source Code Pro', monospace;
  --line-height-pre: 22px;
  --article-font-size: 1.7rem; //slightly larger text for articles and actual content


  //Colors. Add colors here
  --white: #fff;
  --black: #191919;
  --dark-navy: #282c51;
  --blue: #0045b2;
  --light-blue: #60a5ff;
  --mauve: #8787ba;
  --purple: #aa479d;
  --dark-pink: #ef307d;
  --peach: #ff7d80;
  --yellow: #ffcc00;
  --mint-green: #06a9a6;
  --orange: #f88001;
  --red: #f52217;
  --green: #099534;


  //Applied Colors. Add your own applied areas
  --body-bg: var(--white); //found in page.scss
  --main-text-color: var(--black); //used in various files
  --subtle-text-color: var(--grey); //used in forms.scss and page.scss
  --site-top: var(--dark-navy);
  --footer-bg: var(--dark-navy); //found in page.scss
  --above-footer-bg: var(--light-blue); //found in page.scss
  --header-bg: var(--dark-navy); //found in page.scss

  //links and form buttons. used in typography.scss and forms.scss
  --highlight: var(--blue);
  --highlight-alpha: var(--light-blue);
  --highlight-darkened: var(--dark-navy);

  --overlay-color: rgba(0, 0, 0,0.65);

}

/*--------------------------------------------------------------
# Layout CSS Variables. Probably don't need to touch.
--------------------------------------------------------------*/
:root {

  /*------- Menu Variables --------*/
  --nav-move: #{$media-nav}; //should match $media-nav. when main menu in site-top should move into panel left. Used by data-moveat event
  --sidebar-move: 1000px; //when it moves to the panel right
  --media-sidebar: #{$media-sidebar}; //when it is no longer flexed
  --desktop-menu-alignment: center; //can be flex-end or flex-start or center for top level menu-items positioning on desktop

  /*------- Layout --------*/
  --container: 1200px; //holds site in a centered container of this size
  --container-content: 70rem; //holds article text for nice reading
  --container-padding: 30px; //used on left and right side of containers

  --gutters: 15px; //common padding size, used on flexbox and modules
  --gap: 30px; //common gap size used for margins and grids
  --grid-gap: 30px; //same as gap but can be changes in instances where the grid needs a smaller gap. used with .grid or .flex-grid
  --flex-gap: calc(var(--grid-gap) / 2);

  /*------- Panels --------*/
  --panel-left-width: 33%; //width of panel-left when open
  --panel-right-width: 350px; //width of panel-right when open

  /*------- Z-index --------*/
  //these probably should not be changed.
  --z-index-top: 99;
  --z-index-overlay: 95;
  --z-index-menu-button: 90;
  --z-index-menu: 80;
  --z-index-header: 75;
  --z-index-behind: -1;
}

:root .editor-styles-wrapper .has-white-color,
:root .has-white-color {
  color: var(--white);
}

:root .editor-styles-wrapper .has-black-color,
:root .has-black-color {
  color: var(--black);
}

:root .editor-styles-wrapper .has-dark-navy-color,
:root .has-dark-navy-color {
  color: var(--dark-navy);
}

:root .editor-styles-wrapper .has-blue-color,
:root .has-blue-color {
  color: var(--blue);
}

:root .editor-styles-wrapper .has-light-blue-color,
:root .has-light-blue-color {
  color: var(--light-blue);
}

:root .editor-styles-wrapper .has-mauve-color,
:root .has-mauve-color {
  color: var(--mauve);
}

:root .editor-styles-wrapper .has-purple-color,
:root .has-purple-color {
  color: var(--purple);
}

:root .editor-styles-wrapper .has-dark-pink-color,
:root .has-dark-pink-color {
  color: var(--dark-pink);
}

:root .editor-styles-wrapper .has-peach-color,
:root .has-peach-color {
  color: var(--peach);
}

:root .editor-styles-wrapper .has-yellow-color,
:root .has-yellow-color {
  color: var(--yellow);
}

:root .editor-styles-wrapper .has-mint-green-color,
:root .has-mint-green-color {
  color: var(--mint-green);
}

:root .editor-styles-wrapper .has-orange-color,
:root .has-orange-color {
  color: var(--orange);
}

:root .editor-styles-wrapper .has-red-color,
:root .has-red-color {
  color: var(--red);
}

:root .editor-styles-wrapper .has-green-color,
:root .has-green-color {
  color: var(--green);
}

:root .editor-styles-wrapper .has-white-background-color,
:root .has-white-background-color {
  background-color: var(--white);
}

:root .editor-styles-wrapper .has-black-background-color,
:root .has-black-background-color {
  background-color: var(--black);
}

:root .editor-styles-wrapper .has-dark-navy-background-color,
:root .has-dark-navy-background-color {
  background-color: var(--dark-navy);
}

:root .editor-styles-wrapper .has-blue-background-color,
:root .has-blue-background-color {
  background-color: var(--blue);
}

:root .editor-styles-wrapper .has-light-bluebackground-color,
:root .has-light-blue-background-color {
  background-color: var(--light-blue);
}

:root .editor-styles-wrapper .has-mauvebackground-color,
:root .has-mauve-background-color {
  background-color: var(--mauve);
}

:root .editor-styles-wrapper .has-purple-background-color,
:root .has-purple-background-color {
  background-color: var(--purple);
}

:root .editor-styles-wrapper .has-dark-pink-background-color,
:root .has-dark-pink-background-color {
  background-color: var(--dark-pink);
}

:root .editor-styles-wrapper .has-peach-background-color,
:root .has-peach-background-color {
  background-color: var(--peach);
}

:root .editor-styles-wrapper .has-yellow-background-color,
:root .has-yellow-background-color {
  background-color: var(--yellow);
}

:root .editor-styles-wrapper .has-mint-green-background-color,
:root .has-mint-green-background-color {
  background-color: var(--mint-green);
}

:root .editor-styles-wrapper .has-orange-background-color,
:root .has-orange-background-color {
  background-color: var(--orange);
}

:root .editor-styles-wrapper .has-red-background-color,
:root .has-red-background-color {
  background-color: var(--red);
}

:root .editor-styles-wrapper .has-green-background-color,
:root .has-green-background-color {
  background-color: var(--green);
}
