@use "../resources" as *;

/*--------------------------------------------------------------
# Body Background
--------------------------------------------------------------*/
body {
  background: var(--body-bg);
}

.site-top {
  h1 {
    margin: 0;
    color: var(--white);
  }

  .image-container + h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: var(--z-index-header);
    transform: translate(-50%, -50%);
  }
}
/*--------------------------------------------------------------
# Site Top - holds logo and main menu at top
--------------------------------------------------------------*/
.site-top {
  position: relative; //change to fixed or absolute if wanted. if absolute add padding top to your entry-header!
  background: var(--site-top);
}

.site-top-container {
  position: relative;
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  h1 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(0%);
    margin: 0;
    min-width: 32rem;
    text-align: center;
    font-size: 2.4rem;
    letter-spacing: 8px;
    background: rgba(40,44,81,.3);
    box-shadow: 1px 5px 13px rgb(40 44 81 / 10%);

    @media (min-width: 768px) {
      font-size: 3.6rem;
      transform: translateX(-50%) translateY(-50%);
    }

    @media (min-width: 1024px) {
      font-size: 5rem;
    }
  }
}



/*--------------------------------------------------------------
# Default Headers
--------------------------------------------------------------*/
.entry-header, .page-header {
  position: relative;
  min-height: calc(400px + 5vw);
  padding: 30px 0;
  color: white;
  background-color: var(--dark-grey);
  background-size: cover;


  h1 {
	margin: 0;
  }

  .cover-image {
	height: 500px;
  }

}


/*--------------------------------------------------------------
# Under header first thing should probably have padding-top. Usually its a section
# expect it to be a paragraph or a heading or a section
# Sometimes header is outside entry-content so we select the very first thing inside there
--------------------------------------------------------------*/
.entry-header + p, .entry-content > p:first-child{
  padding-top: var(--gap);
}



/*--------------------------------------------------------------
# Default Footer
--------------------------------------------------------------*/

.site-footer {
  padding-top: 0;
  padding-bottom: 5px;
  background: var(--footer-bg);
  color: var(--subtle-text-color);
  font-size: 1.1rem;

  a{
	color: inherit;
  }

  .above-footer {
    background: var(--above-footer-bg);
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    h4 {
      margin-top: 0;
      letter-spacing: 2px;
      font-weight: 400;
    }

    li,
    p {
      letter-spacing: 1px;
    }

    @media (max-width: 767px) {
      .flex-grid {
        flex-direction: column;
      }
    }

    @media (min-width: 768px) {
      div:nth-of-type(2) {
        max-width: 15rem;
      }

      div:nth-of-type(3) {
        max-width: 20rem;
      }
    }


  }


  .site-info {
    padding: .75rem 0;
  }
}



/*--------------------------------------------------------------
# Error 404 Page
--------------------------------------------------------------*/
.error404 {
  background: white;
  color: var(--highlight);

  .site-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-footer, .site-top {
    display: none;
  }

  .title-404 {
    font-size: 27vmin;
    font-weight: bold;
    line-height: 1;
    color: rgba(74, 58, 148, 0.82);
    text-shadow: 1px 1px white;
    margin-bottom: var(--gap);
  }
}

.embed-container {

  min-height: unset;
  margin-top: 8rem;

  h1 {
    transform: translateX(-50%) translateY(-50%);
  }
}

.hero-slider.swiper-container {
  width: 100%;
  height: 90vh;

  .swiper-pagination-bullet-active {
    color: #fff;
  }
}

.hero-slider .swiper-slide {
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--dark-navy);

  /* Center slide text vertically */

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 3rem;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    color: #fff;
    margin: 0;
    min-width: 34rem;
    background: rgba(40,44,81,.3);
    box-shadow: 1px 5px 13px rgb(40 44 81 / 10%);

    @media (min-width: 576px) {
      font-size: 5rem;
    }
  }
}

.image-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wpgmza_map {
  max-width: 120rem;
  margin: 0 auto;
}

.wpgmza-infowindow {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.4;
}

.social {
  display: flex;
  justify-items: flex-start;

  li {
    margin-right: 1.5rem;
  }
}

.arrange {
  .wpforms-container {

    .wpforms-field-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      > div:not(.wpforms-one-half) {
        justify-self: normal;
        width: 100%;
      }
    }

    .wpforms-field {
      margin-bottom: 1.5rem;
    }

    .wpforms-one-half {
      width: 48%;
    }

    .wpforms-field-label,
    .wpforms-field-sublabel {
      color: var(--white);
      font-weight: 600;
    }

    .wpforms-field-sublabel {
      font-size: 0.9em;
    }

    input[class^="wpforms-field"] {
      border-color: var(--white);
      padding: 1.5rem 1rem;
      color: var(--white);
    }

    select[class^="wpforms-field"] {
      border-color: var(--white);
      padding: 1.5rem 1rem;
      color: var(--white);

      option {
        color: var(--dark-navy);
      }
    }

    .wpforms-field-label-inline {
      display: inline;
      color: var(--white);
    }

    .wpforms-field-gdpr-checkbox {

      ul {
        margin-left: 0;
      }

      li {
        list-style: none;
      }
    }

    .button {
      font-size: 2rem;
      padding: 1.5rem;
    }

    .wpforms-confirmation-container {
      color: var(--white);
      text-align: center;
    }
  }
}

.alm-listing.alignwide {
  width: 100%;

  .card-grid {
    --card-min: 265px;
  }
}

.events-slider {

  &.swiper-container {
    padding: 1.5rem 0;
  }

  &__item {
    position: relative;

    @media (min-width: 768px) {
      max-height: 22rem;
    }

    @media (min-width: 1024px) {
      max-height: 24rem;
    }

    @media (min-width: 1366px) {
      max-height: 28rem;
    }

    @media (min-width: 1600px) {
      max-height: 30rem;
    }

    img {
      object-fit: cover;
      border-radius: .75rem;

      @media (min-width: 768px) {
        max-width: 33rem;
        max-height: 22rem;
      }

      @media (min-width: 1024px) {
        max-width: 46rem;
        max-height: 24rem;
      }

      @media (min-width: 1366px) {
        max-width: 52rem;
        max-height: 28rem;
      }

      @media (min-width: 1600px) {
        max-width: 55rem;
        max-height: 30rem;
      }

    }
  }

  .event__title {
    position: absolute;
    left: 1rem;
    top: 1rem;

    @media (min-width: 1024px) {
      left: 2.5rem;
      top: 2.5rem;
    }
    color: var(--white);
    font-weight: 400;
    letter-spacing: 4px;
  }

  .event-date {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    @media (min-width: 1024px) {
      left: 2.5rem;
      bottom: 2.5rem;
    }
    color: var(--white);
    font-size: 1.4rem;
  }
}

.acf-events-slider {
  .events-slider {
    > .swiper-pagination-bullets {
      bottom: -.5rem;
      left: 50%;
      transform: translateX(-50%);

      .swiper-pagination-bullet {
        background: var(--black);

        &-active {
          background: var(--light-blue);
        }
      }
    }

    .swiper-button-prev {
      left: 1rem;
    }

    .swiper-button-next {
      right: 1rem;

      @media (min-width: 768px) {
        right: 3rem;
      }
    }
  }
}
 /* Extra Responsive Styles */
@media (max-width: $media-small) {

}
