.acf-two-columns-image-right-block {
  [class^="span"] {
    padding: 2.5rem;
    margin: 0;

    p {
      max-width: unset;
    }


    @media (min-width: 768px) {

      &.col-left {
        display: flex;
        justify-content: flex-end;
        flex-basis: 50%;

        .text-container {
          max-width: 30rem;
        }
      }

      &.col-right {
        img {
          max-width: 30rem;
        }
      }
    }

    @media (min-width: 1024px) {
      padding: 2.5rem;
      &.col-left {
        flex-basis: 50%;
        .text-container {
          max-width: 45rem;
        }
      }

      &.col-right {
        flex-basis: 50%;
        img {
          max-width: 45rem;
        }
      }
    }

    @media (min-width: 1200px) {
      padding: 5rem;
      &.col-left {
        .text-container {
          max-width: 55rem;
        }
      }

      &.col-right {
        img {
          max-width: 55rem;
        }
      }
    }
  }

  h2 {
    margin-bottom: 1.5rem;
    color: var(--white);
  }

  p {
    color: var(--white);
    margin-bottom: 2rem;
  }



}