.acf-two-columns-cta {

  .grid {
    grid-gap: 0;
  }
  [class^="span-6"] {
    min-height: 40rem;

    position: relative;
    
    a {
      color: var(--white);
      text-decoration: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}