.acf-title-paragraph-block {
  .title-para {
    text-align: center;

    p {
      font-size: 1.6rem;
      margin: 2rem auto;

      @media (min-width: 768px) {
        max-width: 60%;
      }
    }

    h2,
    h3 {
      margin-top: 0;
      margin-bottom: 2.5rem;
    }
  }
}
