.acf-stay-book-form {

  .form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }

  .form-field-wrapper {
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #b3b4b6;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      border-right: 1px solid #b3b4b6;
      border-bottom: none;
      margin-bottom: 0;
    }

    &:last-of-type {
      border-right: none;
    }

    label {
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 2rem;
    }

    select {
      width: 6rem;
      border: none;
      font-size: 2.4rem;
      color: var(--orange);
      background-position: right 0 top 50%, 0 0;

      option:not(checked) {
        color: var(--black);
      }
    }

    input[type=text] {
      width: 8rem;
      border: none;
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem 0;

    input[type=submit] {
      padding: 1.5rem;
    }

    input[type=submit]:hover,
    input[type=submit]:active,
    input[type=submit]:focus {
      background: var(--orange);
    }
  }
}