.title-button {
  text-align: center;

  .button-una {
    font-size: 1.6rem;
    padding: 1.5rem 2rem;

    @media (min-width: 1024px) {
      padding: 1rem 1.5rem;
    }
    background-color: transparent;
    border: 1px solid var(--white);
    text-transform: uppercase;
    transition: background-color .3s;
  }

  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 2.5rem;
  }

  .acf-una-button {
    margin-top: 2rem;
  }
}