.acf-image-content-grid-block {
  .grid {
    grid-gap: 0;

    img {
      object-fit: cover;
    }
  }

  p {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 3.6rem;
    font-weight: 600;
  }

  .one {
    min-height: 40rem;
    background-repeat: no-repeat;
    background-position: center;
  }

  .background {
    padding: 1.5rem;

    @media (min-width: 768px) {
      padding: 2.5rem;
    }

    @media (min-width: 1366px) {
      padding: 5rem;
    }
  }

  .text-container {
    @media (min-width: 768px) {
      max-width: 30rem;
    }

    @media (min-width: 1024px) {
      max-width: 45rem;
    }

    @media (min-width: 1200px) {
      max-width: 55rem;
    }

    @media (min-width: 1500px) {
      max-width: 60rem;
    }
  }
}