.acf-image-grid-block {
  padding: 5rem 0;
  margin-left: 0;

  @media (max-width: $media-small) {
    margin-left: -15px;
    margin-right: -15px;
  }

  .grid {
    grid-gap: 30px;
  }

  [class^="span"] {
    position: relative;
  }

  h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color: var(--white);
  }

  .three {
    min-height: 400px;

    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      min-height: 200px;
    }
  }

}