/*--------------------------------------------------------------
# Post Card design
--------------------------------------------------------------*/
.post.card-item,
.type-post.card-item {
  background-color: var(--white);

  h2.card-title {
    font-size: 1.8rem;
    letter-spacing: unset;
    margin: 1rem;

    @media (max-width: 576px) {
      margin: 1rem 0;
    }
  }

  .card-meta {
    margin: .5rem 1rem;

    @media (max-width: 576px) {
      margin: .5rem 0;
    }
  }

  a {
    text-decoration: none;
  }
}

.blog .type-post.card-item {
  .card-content {
    padding: 0 1rem;
  }
}

.blog .site-main {
  background-color: var(--mauve);
}



.acf-section-block.alignfull .post.card-item p,
.acf-section-block.alignfull .type-post.card-item p{
  max-width: calc(100% - 2rem);

  @media (max-width: 576px) {
    max-width: (100%);
  }
}