@use "../resources" as *; //should also load resources
@use "../core/grid-layout" as *;
/*--------------------------------------------------------------
# Gutenburg file
--------------------------------------------------------------*/
.wp-block-file{
	@extend .flex;
	align-content: center;
	a{
		flex: 0 0 auto;
	}
}
/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.blocks-gallery-grid, .wp-block-gallery {
  justify-content: center;

  img {
    object-fit: contain !important;
  }
}


//overriding gutenberg on front end
.wp-block-quote.is-large {
	&:before {
		font-size: 4rem;;
	}
	p {
		font-size: 4rem;
	}
}

q {
	quotes: "“" "”" "‘" "’";
}
