/*------- ACF Menu block --------*/
.site .acf-menu{
	padding: 0;
}

.sticky-menu {
  position: fixed;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: var(--z-index-top);

  .menu {
    list-style: none;
    margin: 0;
    padding: 1rem;
    background-color: var(--peach);

    a {
      color: var(--black);
      transform: translateX(0);
      display: block;
      transition: all .4s ease-in;
      text-decoration: none;


    }

    .is-active a {
      color: var(--white);
    }


  }

  &.sticky {

    visibility: visible;
    opacity: 1;

  }
}

.editor-styles-wrapper .acf-block-preview .sticky-menu {
  position: unset !important;
}
