/*------- ACF Menu block --------*/
.site .acf-menu{
	padding: 0;
}

.sticky-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all .5s;

  @media (min-width: 768px) {
    left: 2rem;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding: 1rem;
    background-color: var(--peach);

    a {
      color: var(--black);
      transform: translateX(0);
      display: block;
      transition: all .4s ease-in;
      text-decoration: none;
    }

    .active a {
      color: var(--white);
      transform: translateX(5px);
    }
  }

  &.sticky {

    visibility: visible;
    opacity: 1;

  }
}


